@{ 
    ViewBag.Title = "Admin Index";
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Systems </title>
    <link rel="stylesheet" href="~/Style/login.css">
</head>
<body>
     
    <div class="section">
        <div class="container">
            <div class="topTitleHead pb20">
                <h1>Systems</h1>
            </div>

            <!----- Tabs ---->
            <div class="tab">
                <ul class="align-center">
                    <li> <a class="tablinks active" id="UserManagementTab" onclick="openSystems(event, 'UserManagement')"> User Management </a></li>
                    <li> <a class="tablinks" id="RoleManagementTab" onclick="openSystems(event, 'RoleManagement')"> Role Management</a> </li>
                    <li> <a class="tablinks" id="ConferenceRoomTab" onclick="openSystems(event, 'ConferenceRoom')">ConferenceRoom </a> </li>
                    <li> <a class="tablinks" id="CommonLookUpTab" onclick="openSystems(event, 'CommonLookUp')">CommonLookUp </a> </li>
                    <li> <a class="tablinks" onclick="openSystems(event, 'Errorlogs')">Error logs </a> </li>
                </ul>
            </div>

            <div class="tabcontentdetails">
                <div id="UserManagement" class="tabcontent" style="display: block">
                    <div class="align-center align-between pb20">
                        <h2>User Management</h2>
                        <div class="btnDiv">
                            <a href="#">@Html.ActionLink(" + Add New User", "Create", "User")</a>
                        </div>
                    </div>
                    <div class="tableDiv" id="userdiv">
                        @Html.Partial("~/Views/User/UserPartial.cshtml")
                    </div>
                </div>
                <div id="RoleManagement" class="tabcontent">
                    <div class="align-center align-between pb20">
                        <h2>Role Management</h2>
                        <div class="btnDiv">
                            <a href="#">@Html.ActionLink(" + Add New Role", "Create", "Role")</a>

                        </div>
                    </div>
                    <div class="tableDiv" id="rolediv">
                        @Html.Partial("~/Views/Role/RolePartial.cshtml")
                    </div>
                </div>
                <div id="ConferenceRoom" class="tabcontent">
                    <div class="align-center align-between pb20">
                        <h2>ConferenceRoom</h2>
                        <div class="btnDiv">
                            <a href="#">@Html.ActionLink(" + Add New ConferenceRoom", "Create", "ConferenceRoom")</a>
                        </div>
                    </div>
                    <div class="tableDiv" id="conferenceroomdiv">
                        @Html.Partial("~/Views/ConferenceRoom/ConferenceRoomPartial.cshtml")
                    </div>
                </div>
                <div id="CommonLookUp" class="tabcontent">
                    <div id="CommonLookupTable">
                        @Html.Partial("~/Views/CommonLookUp/CommonLookUpPartial.cshtml")
                    </div>
                </div>
            </div>
            <!----- END Tabs ---->

        </div>
    </div>
    <!-- END Section -->
</body>
</html>


<script>

    $(document).ready(function () {
        var data = '@TempData["PageSelected"]';
        if (data != '') {
            openSystems(null, data);
        }
    });

    $(document).ready(function () {
        $('#userdiv').load('@Url.Action("Index","User")');
    });

    function openSystems(evt, SystemsName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(SystemsName).style.display = "block";
        if (evt != null) {
            evt.currentTarget.className += " active";
        }
        else {
            document.getElementById(SystemsName + "Tab").className += " active";
        }

        if (SystemsName == "UserManagement") {
            $('#userdiv').load('@Url.Action("Index","User")');
        }
        else if (SystemsName == "RoleManagement") {
            $('#rolediv').load('@Url.Action("Index","Role")');
        }
        else if (SystemsName == "ConferenceRoom") {
            $('#conferenceroomdiv').load('@Url.Action("Index","ConferenceRoom")');
        }
        else if (SystemsName == "CommonLookUp")
            $('#CommonLookupTable').load('@Url.Action("Index","CommonLookUp")');
    }
</script>
