@model IEnumerable<CRMSSystem.Core.Models.CommonLookUp>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>CommonLookup</h2>

<p>
    <a onclick="Create(0)" class="btn btn-success" data-toggle="modal">Create New</a>
</p>

<div class="modal fade" id="CommonLookUpModal">
    <div class="modal-dialog">
        <div class="modal-content" id="CommonLookUpForm">


        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="deletemodal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Confirm</h2>
            </div>
            <div class="modal-body">
                <h3> Are You Sure You Want To Delete?</h3>
            </div>
            <input type="hidden" id="hdnDeleteId" />
            <div class="modal-footer">
                <div class="btn-group">
                    <a id="btnDelete" class="btn btn-primary" onclick="deleteCommonLookup()">Delete</a>
                </div>
                <div class="btn-group">
                    <a id="btncancelconfirm" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



<table class="table table-bordered">
    <tr class="bg-primary">

        <th>
            ConfigName
        </th>
        <th>
            Config Key
        </th>
        <th>
            Config Value
        </th>
        <th>
            DisplayOrder
        </th>
        <th>
            Description
        </th>

        <th>Action</th>
    </tr>

    @foreach (var item in ViewBag.CommonLookups)
    {
        <tr>

            <td>
                @item.ConfigName
            </td>
            <td>
                @item.ConfigKey
            </td>
            <td>
                @item.ConfigValue
            </td>
            <td>
                @item.DisplayOrder
            </td>
            <td>
                @item.Description
            </td>

            <td>
                <a href="javascript:Create('@item.Id')" class="btn btn-success">Edit</a>
                <a href="javascript:confirm('@item.Id')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>

@Styles.Render("~/Content/StyleSheet1.css")
<script>

    function Create(Id) {
        debugger;
        var url = '';
        if (Id == 0) {
            url = "/CommonLookup/Create";
        }
        else {
            url = "/CommonLookup/Create?Id=" + Id;
        }



        $("#CommonLookUpForm").load(url, function () {
            $("#CommonLookUpModal").modal("show");

        });
    }

    var confirm = function (id) {
        debugger
        $("#deletemodal").modal('show');
        $("#hdnDeleteId").val(id);
    }

    function deleteCommonLookup() {
        var id = $("#hdnDeleteId").val()
        $.ajax({

            type: "POST",
            url: "/CommonLookup/Delete/" + id,
            success: function () {
                $("#deletemodal").modal('hide');
                location.reload()
            }
        });
    }



</script>

