@model CRMSSystem.Core.View.RoleViewModel

@using (Html.BeginForm("Create", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()

            <!----- Form ---->
            <div class="formDiv">
                <div class="topTitleHead pb20">
                    <h1> Add New Role</h1>
                </div>
                <div class="formSection">
                    <div class="inputBox">
                        @Html.ValidationSummary(true, "", new { @class = "errorMsg" })
                        <div class="text text-danger">@ViewBag.Message</div>

                        <label class="form-label">Name<strong style="color:red;font-size:20px">*</strong></label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "errorMsg" })

                        @*<p class="errorMsg">This field is required</p>*@
                    </div>
                    <div class="inputBox">
                        <label class="form-label">Code<strong style="color:red;font-size:20px">*</strong></label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @style="text-transform:uppercase" , @placeholder = "ENTER CODE" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "errorMsg" })

                    </div>
                </div> 
                <div class="inputBox">
                    <button class="btnDiv" id="Savebtn">Create</button>
                </div>
            </div>

        
        <!----- END Form ---->
}

<button id="backToList">Previous</button>

<script>
    $(document).ready(function () {
    $('#backToList').click(function() {
      history.back();
    });
    });

   $('#Savebtn').click(function () {
        toastr.success('Role Created successfully.');
        document.location ='@Url.Action("Index", "Admin")';
    });
</script>